@page
@model CreateModel
@{
	ViewData["Title"] = "Créer une partie";
}

<div class="card shadow border-0 my-4">
	<div class="card-header bg-primary bg-gradient py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Créer une partie</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form class="row g-4" method="post" id="form">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group col-md-12 mb-3">
				<label asp-for="Partie.Titre" class="control-label pb-2"></label>
				<input id="partieTitre" type="text" asp-for="Partie.Titre" class="form-control border-0 shadow" />
				<span asp-validation-for="Partie.Titre" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4 mb-3">
				<label asp-for="Partie.Systeme" class="control-label pb-2"></label>
				<input type="text" asp-for="Partie.Systeme" class="form-control border-0 shadow" />
				<span asp-validation-for="Partie.Systeme" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4 mb-3">
				<label asp-for="Partie.Vtt" class="control-label pb-2"></label>
				<input type="text" asp-for="Partie.Vtt" class="form-control border-0 shadow" />
				<span asp-validation-for="Partie.Vtt" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4 mb-3">
				<label asp-for="Partie.Applis" class="control-label pb-2"></label>
				<input type="text" asp-for="Partie.Applis" class="form-control border-0 shadow" />
				<span asp-validation-for="Partie.Applis" class="text-danger"></span>
			</div>
			<div class="form-group col-md-12 mb-3">
				<label asp-for="Partie.Description" class="control-label pb-2"></label>
				<textarea asp-for="Partie.Description" class="form-control border-0 shadow"></textarea>
				<span asp-validation-for="Partie.Description" class="text-danger"></span>
			</div>
			<div class="form-group col-md-6 mb-3">
				<label class="control-label text-center pb-2">Thèmes</label>
				<div class="dropdown">
					<button class="btn btn-white text-dark text-start dropdown-toggle border-0 shadow w-100" type="button" data-bs-toggle="dropdown">Choisir</button>
					<ul class="dropdown-menu overflow-auto px-2 w-100" style="height:300px">
						@{
							foreach (var genre in Model.SelectedGenresList)
							{
								<li>
									<input type="checkbox" name="selectedGenres" value="@genre.GenreId" class="form-check-input" @Html.Raw(genre.Selected ? "checked=\"checked\"" : "")) />
									@genre.Libelle
								</li>
							}
						}
					</ul>
				</div>
				<span id="checkError" asp-validation-for="Partie.Genres" class="text-danger"></span>
			</div>
			<div class="form-group col-md-6 mb-3">
				<label asp-for="Partie.NbPlacesTot" class="control-label pb-2"></label>
				<input type="number" asp-for="Partie.NbPlacesTot" class="form-control border-0 shadow" />
				<span asp-validation-for="Partie.NbPlacesTot" class="text-danger"></span>
			</div>
			<div class="form-group col-md-12 mb-3">
				<label asp-for="Partie.Format" class="control-label pb-2 me-3"></label>
				<div class="form-check form-check-inline">
					<input id="radio-oneshot" type="radio" asp-for="Partie.Format" value="oneshot" class="form-check-input" />
					<label>Oneshot</label>
				</div>
				<div class="form-check form-check-inline">
					<input id="radio-campagne" type="radio" asp-for="Partie.Format" value="campagne" class="form-check-input" />
					<label>Campagne</label>
				</div>
				<span asp-validation-for="Partie.Format" class="text-danger"></span>
			</div>
			<div id="form-oneshot" class="form-group col-md-4 mb-3">
				<label asp-for="Partie.NbSeances" class="control-label pb-2"></label>
				<input type="number" id="nbSces" asp-for="Partie.NbSeances" class="form-control border-0 shadow" />
				<span id="nbScesError" asp-validation-for="Partie.NbSeances" class="text-danger"></span>
			</div>
			<div class="form-group col-md-6 form-campagne mb-3">
				<label asp-for="Partie.Duree" class="control-label pb-2"></label>
				<input type="text" id="duree" asp-for="Partie.Duree" class="form-control border-0 shadow" placeholder="ex: 6mois" />
				<span id="dureeError" asp-validation-for="Partie.Duree" class="text-danger"></span>
			</div>
			<div class="form-group col-md-6 form-campagne mb-3">
				<label asp-for="Partie.Frequence" class="control-label pb-2"></label>
				<input type="text" id="freq" asp-for="Partie.Frequence" class="form-control border-0 shadow" placeholder="ex: 1 fois par semaine" />
				<span asp-validation-for="Partie.Frequence" class="text-danger"></span>
				<span id="freqError" asp-validation-for="Partie.Frequence" class="text-danger"></span>
			</div>
			<div class="col-md-12">
				<input type="submit" class="btn btn-primary btn btn-lg w-100" value="Créer" />
			</div>
		</form>
	</div>
</div>

@section Scripts {

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

<script src="~/js/partieCreate.js"></script>
